.product-detail {
    margin-top: 15%;
}

.product-detail-mySwiper {
    position: relative;
    width: 400px;
    height: 510px;
    margin-top: -70px;
}

.detail-column {
    flex: 1;
    padding: 20px;
}

.custom-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 20%;
    border-radius: 10px;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.star {
    color: #ffc107; /* Warna bintang */
    font-size: 24px;
}

.count-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.count-container {
    margin-right: 10px; /* Adjust the margin as needed */
}

.buy-now-button {
    padding: 7px 20px;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.icons-cart-like {
    display: flex; /* Membuat ikon-ikon berbaris */
    margin-left: 10px;
}

.to-cart,
.my-like {
    margin-right: 10px; /* Sesuaikan jarak antara ikon jika perlu */
}

.to-cart a,
.my-like a {
    text-decoration: none;
    color: #ff9900;
    border: 2px solid #ff9900;
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Atur lebar ikon dan border */
    height: 40px; /* Atur tinggi ikon dan border */
    transition:
        color 0.3s,
        border 0.3s; /* Animasi warna dan border saat dihover */
}

.my-like a:hover {
    color: #555; /* Warna teks yang berbeda ketika dihover */
}

/* Gaya tambahan sesuai kebutuhan */

/* Responsif */
@media (max-width: 768px) {
    .photo-detail-page {
        flex-direction: column;
    }

    .photo-column,
    .detail-column {
        padding: 0;
        text-align: center;
        margin: 20px 0;
    }

    .custom-image {
        max-width: 100%;
    }
}
