/* CSS untuk box dengan border dan lebar 100% */
.pembayaran {
    width: 100%;
    border: 2px solid #040404; /* Warna dan ketebalan border */
    padding: 20px; /* Jarak antara konten dan border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk memberikan kedalaman */
    margin-top: 20px; /* Jarak atas dari elemen sebelumnya */
}

/* CSS untuk line di bawah h2 */
.h2-line {
    width: 105%; /* Panjang garis */
    border-bottom: 2px solid #040404; /* Warna dan ketebalan garis */
    margin: 10px 0; /* Jarak antara h2 dan garis */
    margin-left: -20px;
}

/* CSS untuk pembayaran-wallet */
.pembayaran-wallet {
    display: flex;
    justify-content: center; /* Menyusun elemen-elemen di tengah */
    gap: 10px; /* Jarak antar elemen */
    width: 100%; /* Lebar elemen 100% */
    margin-top: 20px; /* Jarak atas dari elemen sebelumnya */
}

/* CSS untuk gambar dalam pembayaran-wallet */
.pembayaran-wallet img {
    width: 150px; /* Lebar gambar */
    height: 80px; /* Memastikan aspek rasio tetap terjaga */
    margin-right: 10px; /* Jarak antar gambar di kanan */
    border: 2px solid #ffa506; /* Menambahkan border dengan warna tertentu */
    padding: 10px;
    border-radius: 10px;
}

/* CSS untuk pembayaran-bank */
.pembayaran-bank {
    display: flex;
    flex-direction: column; /* Menyusun elemen-elemen ke bawah */
    margin-top: 20px;
    margin-left: 70px;
}

.pembayaran-bank img {
    width: 130px; /* Ukuran gambar */
    height: auto; /* Memastikan aspek rasio tetap terjaga */
    margin-bottom: 20px; /* Sesuaikan jarak antar gambar ke bawah */
    margin-left: 20px;
}

.pembayaran-bank-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pembayaran-bank-item label {
    margin-bottom: 0;
}

/* Gaya khusus untuk radio button */
.pembayaran-bank-item input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffa506;
    position: relative; /* Menentukan posisi untuk pseudo-element */
}

/* Gaya radio button yang dipilih */
.pembayaran-bank-item input[type='radio']:checked {
    background-color: #ffa506;
}

/* Centang di dalam radio button saat dipilih */
.pembayaran-bank-item input[type='radio']:checked::before {
    content: '';
    display: block;
    width: 10px; /* Ukuran centang */
    height: 10px; /* Ukuran centang */
    border-radius: 50%; /* Membuat centang berbentuk lingkaran */
    background: white; /* Warna centang */
    position: absolute; /* Menentukan posisi centang */
    top: 50%; /* Menempatkan centang di tengah secara vertikal */
    left: 50%; /* Menempatkan centang di tengah secara horizontal */
    transform: translate(
        -50%,
        -50%
    ); /* Mengatur agar centang berada di tengah */
}

/* CSS untuk menata tombol navigasi pada form pemesanan */
.navigation-buttons-pembayaran {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* Atur jarak atas */
}

.navigation-buttons-pembayaran button {
    padding: 10px 30px; /* Atur ukuran padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 300px; /* Atur lebar tombol */
}

.navigation-buttons-pembayaran .button-kembali {
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 1px solid #040404;
    /* Penyrgb(0, 0, 0)an gaya lainnya */
}

.navigation-buttons-pembayaran .button-lanjut {
    background-color: #ffa506;
    color: white;
    /* Penyesuaian gaya lainnya */
}

.navigation-buttons-pembayaran .button-kembali:hover {
    background-color: #ffa506;
    color: white;
}

.navigation-buttons-pembayaran .button-lanjut:active {
    background-color: #ff4006;
}

.pembayaran-total {
    width: 100%;
    background-color: transparent;
    padding: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 2px solid #040404;
    margin: 20px 20px 20px; /* Menambah margin atas menjadi 30px */
}
/* Style for the heading */
.pembayaran-total h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

/* CSS untuk line di bawah h2 */
.h2-line-pembayaran-total {
    width: 111%; /* Panjang garis */
    border-bottom: 2px solid #040404; /* Warna dan ketebalan garis */
    margin: 10px 0; /* Jarak antara h2 dan garis */
    margin-left: -20px;
    margin-top: 13px;
}
/* Style for the total price section */
.pembayaran-total-harga {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

/* Style for the image */
.pembayaran-total-harga img {
    width: 100px; /* Adjust the size as needed */
    height: 120px; /* Adjust the size as needed */
    margin-right: 10px;
}

/* Style for the product name */
.pembayaran-total-harga h2 {
    font-size: 18px;
    color: #555;
    margin-left: 20px;
    margin-bottom: 30px;
}

.pembayaran-total-harga p {
    margin-top: 50px;
    margin-left: -155px;
    margin-bottom: 40px;
}

.pembayaran-total-harga .count-pembayaran {
    position: relative;
    right: 75px;
    top: 40px;
}

.custom-icons-cart-like {
    display: flex; /* Membuat ikon-ikon berbaris */
    margin-left: 10px;
    position: relative;
    right: 70px;
    top: 40px;
}

.custom-to-cart,
.custom-my-like {
    margin-right: 10px; /* Sesuaikan jarak antara ikon jika perlu */
}

.custom-to-cart a,
.custom-my-like a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; /* Atur lebar ikon dan border */
    height: 25px; /* Atur tinggi ikon dan border */
    transition:
        color 0.3s,
        border 0.3s; /* Animasi warna dan border saat dihover */
}

.custom-my-like a:hover {
    color: #ffa506; /* Warna teks yang berbeda ketika dihover */
}

/* CSS untuk menambahkan garis pada div subtotal */
.pembayaran-total .sub-total-harga-container {
    position: relative; /* Menetapkan posisi relatif untuk div container */
}

.pembayaran-total .sub-total-line {
    position: absolute; /* Menetapkan posisi absolut untuk garis */
    left: 0; /* Menetapkan posisi horizontal di awal container */
    width: 111%; /* Mengatur panjang garis menjadi 100% dari lebar container */
    border-top: 2px solid #040404; /* Menambah garis di bagian atas */
    margin-left: -20px;
}

/* Style for the subtotal section */
.pembayaran-total .sub-total-harga {
    margin-top: 85%;
    padding-top: 10px; /* Menambah padding di bagian atas untuk memberikan ruang antara garis dan kontennya */
}

.pembayaran-total .sub-total-harga p {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    font-weight: bold;
}

.p-line-pembayaran-total {
    width: 111%; /* Panjang garis */
    border-bottom: 2px solid #040404; /* Warna dan ketebalan garis */
    margin: 10px 0; /* Jarak antara h2 dan garis */
    margin-left: -20px;
    margin-top: 13px;
}

.pembayaran-total .sub-total-harga .total-all-bayar {
    margin-top: 30px;
    margin-bottom: -20px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup.show {
    display: block;
}

.popup-content {
    background-color: #f4f4f4;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    margin-top: 25%;
    margin-left: 35%;
}

.popup-content button {
    background-color: red;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
