/* Navbar.css */
.navbar-dashboard {
    background-color: #fff; /* Warna latar belakang nav */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: all 0.3s;
}

.right-icons-dashboard img {
    width: 50px;
    height: 45px;
    margin-right: 20px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    margin-right: 0;
    color: #000000;
    margin-right: 30px;
}

/* Sidebar.css */
.sidebar {
    position: absolute; /* Ganti dari fixed menjadi absolute */
    left: 0;
    top: 0;
    height: 136%;
    width: 280px;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
    margin-top: 100px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Jarak antara setiap tautan menu */
}

/* Untuk membuat teks pada tautan menjadi tebal dalam keadaan normal */
.dashboard-link,
.list-produk-link,
.tambah-produk-link,
.kategori-produk {
    font-weight: bold; /* Menjadikan teks menjadi tebal (bold) */
    color: #000000;
}

/* CSS untuk ikon */
.dashboard-icon,
.list-produk-icon,
.perbarui-produk-icon,
.kategori-produk-icon {
    margin-right: 10px;
    /* Atur properti ikon lainnya sesuai kebutuhan */
}

/* CSS untuk efek hover */
.dashboard-link:hover,
.list-produk-link:hover,
.perbarui-produk-link:hover,
.kategori-produk:hover {
    background-color: #ffa506; /* Warna latar belakang saat tautan dihover */
    border-radius: 5px; /* Radius sudut kotak */
    color: #fff;
}

.keluar-button {
    position: fixed;
    top: 91%; /* Sesuaikan dengan jarak dari bagian atas layar */
    right: 92%; /* Sesuaikan dengan jarak dari bagian kanan layar */
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1000; /* Sesuaikan sesuai kebutuhan */
    color: #ffa506;
    border: 1px solid #ffa506;
    border-radius: 8px;
    width: 90px;
    height: 40px;
    font-weight: bold;
}

.keluar-icon {
    color: #ffa506;
    margin-right: 8px;
}

.keluar-button:hover {
    background-color: #ffa506;
    color: white;
}

.keluar-button svg:hover {
    color: white;
}

/* Add more styling as needed */

/* Add more styling as needed */
