.custom-min-button,
.custom-plus-button {
    border: 1px solid black;
    color: black;
    cursor: pointer;
    height: 25px;
    padding: 0px 0 0 0; /* Sesuaikan nilai padding-top sesuai kebutuhan */
    width: 25px;
    align-items: center; /* Center items vertically within the container */
}

.custom-plus-button svg,
.custom-min-button svg {
    margin-top: -5px;
}

.custom-min-button {
    border-radius: 4px 0 0 4px;
}

.custom-plus-button {
    border-radius: 0 4px 4px 0;
}

.custom-min-button:hover,
.custom-plus-button:hover {
    background-color: #000; /* Adjust color on hover as needed */
    color: #fff; /* Adjust color on hover as needed */
}

.custom-counter-value {
    margin: 0 8px;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.custom-line-up {
    height: 0.5px;
    width: 40px;
    background-color: black;
    margin: 0;
    margin-bottom: -1.5px;
    margin-left: 22px;
}

.custom-line-down {
    height: 1px;
    width: 40px;
    background-color: black;
    margin: 0;
    margin-top: -2px;
    margin-left: 22px;
    position: relative;
}
