.notif-page {
    padding: 20px;
}

.notif-page h3 {
    font-size: 25px;
}

.notif-page span {
    color: blue;
    cursor: pointer;
}

.notif-page-notifikasi {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.notif-page-notifikasi .text-tipe {
    margin-right: 45%;
}

/* .notif-page-notifikasi .text-tipe-app {
    margin-right: 15px;
} */

.notif-page-notifikasi p {
    /* Gaya tambahan untuk elemen-elemen anak jika diperlukan */
    margin: 0; /* Menghapus margin default */
    padding: 10px; /* Menambahkan padding untuk penampilan yang lebih baik */
    color: #000000;
    margin-right: 50px;
    font-size: 18px;
}

.notif-page hr {
    margin-top: 0px;
    width: 100%;
}

.simpan-reset-notifikasi {
    margin-top: 50px;
    margin-left: -10px;
}
