/* ToolbarDeskripsi.css */

.toolbar-deskripsi-container {
    margin-top: 10px;
}

.button-toolbar {
    margin-bottom: -10px;
    margin-top: -10px;
    border-top: 2px solid black; /* Menambahkan border atas */
    border-left: 2px solid black; /* Menambahkan border kiri */
    border-right: 2px solid black; /* Menambahkan border kanan */
    border-top-left-radius: 5px; /* Menambahkan radius pada sudut kiri atas */
    border-top-right-radius: 5px; /* Menambahkan radius pada sudut kanan atas */
}

.deskripsi-input-container {
    margin-top: 10px;
}

.deskripsi-input {
    border: 2px solid black;
    min-height: 190px;
    max-height: 190px; /* Set tinggi maksimum */
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: auto; /* Tambahkan overflow-y untuk scrollbar vertikal */
}

.deskripsi-input img {
    max-width: 100px; /* Membuat gambar responsif dengan lebar maksimum 100% dari elemen parent */
    height: auto; /* Membuat gambar responsif dengan tinggi otomatis sesuai lebar */
    display: block; /* Mengatasi masalah ruang ekstra yang mungkin muncul di bawah gambar */
    margin: 10px 0; /* Menambahkan margin di atas dan di bawah gambar */
}

/* Menghilangkan border pada ButtonToolbar */
.toolbar-button-toolbar {
    border: none;
}
