.profile-page {
    padding: 20px;
}

.profile-page h3 {
    font-size: 25px;
}

.upload-foto-profile {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.photo-preview {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 5px;
    margin-left: -20px;
}

.preview-image {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
}

.file-input {
    margin-bottom: 10px;
}

.upload-button {
    background-color: #ffc701;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

/* Add this to your existing CSS file */
.reset-button {
    background-color: rgb(195, 195, 195); /* Red color, adjust as needed */
    color: #ff0000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Adjust spacing between buttons */
}

.button-container {
    display: flex;
    margin-top: -40px;
}

/* Add this to your existing CSS file */
.upload-info {
    margin-top: 70px; /* Adjust spacing between buttons and text */
    margin-left: 100px;
    font-size: 14px;
    color: #666;
    position: absolute;
}

.profile-page hr {
    margin-top: 5px;
}

/* CSS untuk label dan input form */
.profile-form {
    display: flex;
}

.nama-handphone-tanggal-profile,
.email-alamat-kelamin {
    margin-right: 20px; /* Jarak antara dua bagian form */
}

.form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.simpan-reset {
    margin-top: 20px;
    margin-left: -10px;
}

.simpan-button,
.reset-button {
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.simpan-button {
    background-color: #ffc701;
    color: white;
    border: none;
}

.reset-button-inputan {
    background-color: rgb(195, 195, 195); /* Red color, adjust as needed */
    color: #ff0000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Adjust spacing between buttons */
}
