.min-button {
    background-color: transparent;
    border: none;
    padding: 6px;
    cursor: pointer;
    width: 40px;
    height: auto;
    color: #ffa506;
    border: 2px solid #ffa506;
    border-radius: 5px;
}

.plus-button {
    background-color: #ffa506;
    border: none;
    padding: 6px;
    cursor: pointer;
    width: 40px;
    height: auto;
    color: #fff;
    border: 2px solid #ffa506;
    border-radius: 5px;
}

.counter-value {
    margin: 0 20px;
    font-weight: bold;
    color: #ffa506;
    font-size: 20px;
}

.line-up {
    height: 1.5px;
    width: 60px;
    background-color: #ffa506;
    margin: 0; /* Menghapus margin atas dan bawah */
    margin-bottom: -1.5px;
    margin-left: 37px;
}

.line-down {
    height: 1.5px;
    width: 60px;
    background-color: #ffa506;
    margin: 0; /* Menghapus margin atas dan bawah */
    margin-top: -2px;
    margin-left: 37px;
}
