.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Auth-form {
    width: 420px;
    padding-top: 170px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
}

.Auth-form-content img {
    width: 100%; /* Gunakan width: 100% untuk gambar responsif */
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.Auth-form-content p {
    color: black;
    font-weight: bold;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.login-sudmit {
    text-align: center; /* Mengatur teks ke tengah */
    margin-top: 20px;
}

.login-sudmit button {
    background-color: #ffa500; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    font-weight: bold; /* Tebalkan teks tombol */
    padding: 10px 20px; /* Padding tombol */
    border: none; /* Hapus border tombol */
    cursor: pointer; /* Ganti kursor saat mengarahkan ke tombol */
}

.login-sudmit button a {
    text-decoration: none; /* Menghapus garis bawah tautan dalam tombol */
    color: white; /* Warna teks tautan dalam tombol */
}

.login-sudmit button:hover {
    background-color: #ff8200; /* Warna latar belakang tombol saat digulirkan */
}

p.mt-2 > span {
    float: left; /* Agar teks "Belum punya akun?" berada di kiri */
}

p.mt-2 > a.text-warning {
    float: right; /* Agar teks "Daftar" berada di kanan */
}
