/* //navbar */
.navbar {
    border-bottom: 1px solid #000000; /* Warna dan ketebalan garis sesuaikan dengan preferensi Anda */
}

.navbar img {
    width: 150px;
}

.navbar-nav .nav-link {
    margin-right: 40px; /* Sesuaikan jarak yang diinginkan di sini */
    font-weight: bold;
    padding: 10px 15px; /* Sesuaikan padding untuk membuat kotak (box) */
    text-decoration: none; /* Menghapus garis bawah pada link */
    transition:
        background-color 0.2s,
        color 0.2s; /* Efek perubahan warna saat hover */
    font-size: 20px;
    border-radius: 10px;
    color: #000000;
    margin-left: 20px;
}

.navbar-nav .nav-link:hover  {
    background-color: #ffa506; /* Warna latar belakang saat mouse diarahkan */
    color: #ffffff; /* Warna teks saat mouse diarahkan */
}

@media (max-width: 375px) {
    .navbar img {
        width: 80px;
    }
}

@media (max-width: 576px) {
    .navbar img {
        width: 130px;
    }

    .navbar-nav .nav-link {
        font-weight: bold;
        padding: 10px 10px; /* Sesuaikan padding untuk layar kecil */
    }

    .navbar-nav .nav-link:hover {
        background-color: #ffa506; /* Warna latar belakang saat mouse diarahkan */
        color: #ffffff; /* Warna teks saat mouse diarahkan */
    }
}

.navbar-icons {
    display: flex;
    gap: 20px;
}

/* Kotak (box) untuk ikon */
.icon-box {
    background-color: #ffa506; /* Warna latar belakang kotak */
    padding: 5px 10px; /* Padding untuk ruang di sekitar ikon */
    border-radius: 40%; /* Sudut melengkung kotak */
}

/* Ganti warna ikon jika dibutuhkan */
.navbar-icons svg {
    color: #ffffff;
    width: 24px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: 24px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
}

/* CSS untuk mengatur ukuran ikon dan kotak pada layar dengan lebar maksimal 576px */
@media (max-width: 576px) {
    .navbar-icons {
        display: flex;

        justify-content: center; /* Pusatkan ikon secara vertikal */
        align-items: center; /* Pusatkan ikon secara horizontal */
    }

    .icon-box {
        margin-bottom: 10px; /* Tambahkan jarak vertikal antara ikon-ikon */
        padding: 10px; /* Sesuaikan padding kotak */
        margin-top: 10px;
    }

    /* Ganti ukuran ikon */
    .navbar-icons svg {
        width: 34px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
        height: 34px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    }
}

/* CSS untuk mengatur tampilan Navbar pada layar lebih besar dari 992px */
@media (min-width: 992px) {
    .navbar {
        /* Tambahkan properti CSS sesuai dengan preferensi Anda */
        background-color: #ffffff; /* Ganti warna latar belakang sesuai keinginan */
        border-bottom: 1px solid #000000; /* Ganti garis bawah sesuai keinginan */
    }

    .navbar-nav .nav-link {
        margin-right: 20px; /* Sesuaikan jarak yang diinginkan di sini */
        font-weight: bold;
        padding: 7px 10px; /* Sesuaikan padding untuk membuat kotak (box) */
        text-decoration: none; /* Menghapus garis bawah pada link */
        transition:
            background-color 0.2s,
            color 0.2s; /* Efek perubahan warna saat hover */
        font-size: 17px;
        border-radius: 8%;
    }

    .navbar-nav .nav-link:hover {
        background-color: #ffa506; /* Warna latar belakang saat mouse diarahkan */
        color: #ffffff; /* Warna teks saat mouse diarahkan */
    }

    .navbar-icons {
        display: flex;
        gap: 20px;
    }

    /* Kotak (box) untuk ikon */
    .icon-box {
        background-color: #ffa506; /* Warna latar belakang kotak */
        padding: 5px 10px; /* Padding untuk ruang di sekitar ikon */
        border-radius: 40%; /* Sudut melengkung kotak */
    }

    /* Ganti warna ikon jika dibutuhkan */
    .navbar-icons svg {
        color: #ffffff;
        width: 18px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
        height: 18px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    }
}

/* navbar */

/* footer */
.footer {
    background-color: #000000;
    color: #fff;
    padding: 30px 0;
}

.footer img {
    width: 200px;
}
/* CSS Stylesheet */
.logo-text {
    font-size: 16px; /* Ganti ukuran font sesuai keinginan Anda */
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-icon {
    margin-right: 10px;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* File CSS Anda, misalnya Footer.css */
.footer-container {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.footer-line {
    margin-top: -30px; /* Adjust the value as needed to move the line up */
    border: 0; /* Remove the border to hide it */
    border-top: 3px solid #ffffff; /* Add a top border style if needed */
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    font-size: 34px;
    margin-right: 30px;
    color: #aeaeae;
    text-decoration: none;
}

.social-icon:hover {
    color: #ffffff; /* Warna saat hover */
}

.footer-text {
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
}

@media (max-width: 576px) {
    .logo-text {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        width: 150px;
    }
}

/* CSS Stylesheet */
@media (max-width: 576px) {
    .contact-item {
        margin: 0px 0; /* Mengurangi jarak antara item kontak pada layar kecil */
        padding: 2px 0; /* Anda juga dapat mengurangi padding jika diperlukan */
    }

    .contact-icon {
        font-size: 24px; /* Atur ukuran font ikon untuk semua ikon kontak */
    }

    .map-icon {
        font-size: 55px; /* Atur ukuran font ikon FaMapMarkedAlt sesuai dengan yang Anda inginkan */
    }

    .contact-item a {
        font-size: 14px; /* Atur ukuran font teks link (ganti dengan ukuran yang Anda inginkan) */
    }

    .footer-line {
        margin-top: 0; /* Mengurangi margin atas hr untuk memindahkan garis ke atas */
        margin-top: -20px; /* Menambah margin bawah hr (sesuaikan sesuai kebutuhan Anda) */
    }
}

@media (max-width: 991px) {
    .footer img {
        width: 200px;
    }

    .logo-text {
        font-size: 13px; /* Mengurangi ukuran font logo pada layar kecil */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* Footer */
