.staff-card {
    display: flex;
    flex-direction: row; /* Mengubah orientasi dari column ke row */
    text-align: left; /* Menggeser teks ke kiri */
    padding: 10px; /* Menambahkan padding ke staff-card */
    border-radius: 10px; /* Mengatur sudut border */
    background-color: rgb(239, 98, 98);
    width: 200px;
    height: 150px;
    flex-direction: column;
  }
  
  .icons-dashboard {
    margin-right: 10px; /* Atur jarak antara ikon dan teks (sekarang ke kanan) */
  }
  
  .icons-dashboard svg {
    fill: #ffffff; /* Warna ikon */
    font-size: 40px;
  }
  
  
  .text-label {
    font-size: 24px; /* Sesuaikan ukuran teks Staff sesuai keinginan Anda */
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px; /* Atur jarak antara label dan angka */
  }
  
  .text-count {
    font-size: 15px; /* Sesuaikan ukuran teks jumlah staf sesuai keinginan Anda */
    color: #ffffff;
  }
  