/* informasi */
.informasi-profile {
    text-align: left;
    margin-top: 20%;
}

.informasi-profile h3 {
    color: #000000;
    margin-bottom: 20px;
}

/* CSS untuk gambar (Image) */
.informasi-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* CSS untuk Nama dan Email */
.informasi-profile .name {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.informasi-profile .email {
    color: #999999;
}

/* Gaya teks tautan di dalam div menu */
.menu a {
    color: rgb(135, 132, 132); /* Warna teks default */
    text-decoration: none; /* Hilangkan garis bawah default pada tautan */
    display: block; /* Membuat tautan menjadi blok untuk mengisi seluruh lebar div */
    padding: 5px 0; /* Sesuaikan padding sesuai keinginan Anda */
    font-weight: normal; /* Ketebalan font default */
    margin-bottom: 5px; /* Atur margin antara tautan sesuai keinginan Anda */
    transition:
        color 0.3s,
        font-weight 0.3s; /* Animasi perubahan warna dan font-weight */
    font-size: 20px;
}

/* Gaya teks tautan saat hover (saat kursor diarahkan ke tautan) */
.menu a:hover {
    color: #ffa506; /* Ubah warna teks saat hover sesuai keinginan Anda */
    font-weight: bold; /* Buat teks lebih tebal saat hover */
}

.informasi-pribadi {
    margin-top: 10%;
}

.informasi-pribadi h3 {
    font-size: 30px; /* Ukuran font untuk judul */
    margin-bottom: 10px; /* Jarak antara judul dan paragraf */
    color: #ffa506;
}

.informasi-pribadi p {
    font-size: 11px; /* Ukuran font untuk paragraf */
    color: #7d7d7d; /* Warna teks */
}

.informasi-pribadi .data-informasi p {
    font-size: 15px; /* Ukuran font untuk paragraf */
    color: #7d7d7d; /* Warna teks */
    padding: 0px;
    font-weight: bold;
}

.informasi-pribadi .data-informasi span {
    display: inline-block;
    margin-left: 20px; /* Atur jarak seperti tab sesuai kebutuhan Anda */
    background-color: #b0b0b0;
    color: rgb(100, 100, 100);
    width: 60%;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
}

.informasi-pribadi .data-informasi .nama {
    margin-left: 21%; /* Atur jarak seperti tab sesuai kebutuhan Anda */
}

.informasi-pribadi .data-informasi .email {
    margin-left: 22%; /* Atur jarak seperti tab sesuai kebutuhan Anda */
}

.informasi-pribadi .data-informasi .alamat {
    margin-left: 19%; /* Atur jarak seperti tab sesuai kebutuhan Anda */
}

.simpan.infomasi {
    background-color: #ffa506; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    padding: 5px 10px; /* Padding atas-bawah 10px, kiri-kanan 20px */
    border-radius: 5px; /* Sudut elemen dibulatkan */
    text-decoration: none; /* Hapus garis bawah pada tautan */
    display: inline-block; /* Membuat elemen tampil secara inline */
    transition: background-color 0.3s ease; /* Efek transisi perubahan warna latar belakang */
    font-weight: bold;
    margin-left: 74%;
    margin-top: 10px;
}

.simpan.infomasi:hover {
    background-color: #824401; /* Warna latar belakang saat hover */
}

.ganti-profil {
    text-align: center;
    margin-top: 20%;
}

/* Gaya untuk foto profil */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Gaya untuk input file */
.file-input {
    display: none;
}

/* UserProfile.css */

/* Gaya untuk label file */
.file-label {
    display: block;
    background-color: #ffa506;
    color: #fff;
    padding: 0px 15px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: -15%;
    position: relative;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    /* Geser ke kanan */
    margin-left: 54%; /* Menggeser label ke kanan */
}

.file-label:hover {
    background-color: #b36500;
}

.ganti-profil p {
    font-size: 14px;
    margin: 2px;
    color: #7d7d7d;
}

/* informasi */
.koleksi-saya {
    margin-top: 20%;
}

.koleksi-saya h3 {
    color: #ffa506;
}

/* koleksi */
.accordion {
    border: 1px solid #ddd; /* Menambahkan border agar akordeon terlihat lebih jelas */
    border-radius: 4px; /* Mengatur sudut elemen agar terlihat lebih lembut */
    overflow: hidden; /* Menghindari tampilan konten yang bocor di luar akordeon */
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2); /* Menambahkan box-shadow */
    margin-bottom: 10px; /* Atur jarak antara akordeon jika ada lebih dari satu */
    transition: box-shadow 0.3s ease; /* Animasi perubahan box-shadow */
}

/* CSS untuk akordeon terbuka */
.accordion.open {
    border: 1px solid #ddd; /* Menambahkan border agar akordeon terlihat lebih jelas */
    border-radius: 4px; /* Mengatur sudut elemen agar terlihat lebih lembut */
    overflow: hidden; /* Menghindari tampilan konten yang bocor di luar akordeon */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan box-shadow */
    margin-bottom: 10px; /* Atur jarak antara akordeon jika ada lebih dari satu */
    transition: box-shadow 0.3s ease; /* Animasi perubahan box-shadow */
}

/* CSS untuk ikon panah bawah (chevron) */
.chevron {
    transition: transform 0.3s ease;
    margin-right: 20px;
}

/* CSS untuk akordeon terbuka */
.accordion.open .chevron {
    transform: rotate(180deg);
}

/* CSS untuk mengatur tata letak judul dan ikon */
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
}

.accordion-header img {
    max-width: 10%; /* Membuat gambar tidak melebihi lebar elemen parent */
    height: auto; /* Menjaga rasio aspek gambar */
    margin-left: 20px;
    vertical-align: middle; /* Menjaga gambar berada di tengah vertikal */
}

.accordion .nama-detail-hewan {
    font-weight: bold;
}

.accordion .kategori-hewan {
    margin-top: -20px; /* Sesuaikan jarak sesuai kebutuhan Anda */
    font-size: 13px;
    margin-left: 20px;
}

/* Card.css */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 10px;
    height: 330px;
    margin-left: 20%;
    margin-top: 30%;
}

/* koleksi */

/* notifikasi */
.notifikasi {
    width: 120%; /* Lebar box */
    padding: 40px; /* Ruang dalam box */
    border: 1px solid #ccc; /* Garis tepi */
    border-radius: 10px; /* Sudut melengkung */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Bayangan */
    background-color: #fff; /* Warna latar belakang */
    margin: 20px auto; /* Pusatkan box secara horizontal */
    margin-top: 40%;
}

.notifikasi h3 {
    color: #ffa506;
}

.notifikasi p {
    color: #828282;
}

.text-icons svg {
    margin-right: 10px; /* Jarak antara ikon dan teks (sesuaikan dengan preferensi Anda) */
}

.notifikasi .text-icons {
    margin-top: 12%;
    font-weight: bold;
    font-size: 15px;
}

.notifikasi .text-icons span {
    margin-left: 49%;
}

.from-position {
    display: flex;
    align-items: center;
}

.form-check-input {
    --bs-form-check-bg: #e8e8e8;
    width: 1em;
    height: 1em;
}

.form-check-input:checked {
    background-color: #ffa506;
    border-color: #ffa506;
}

.form-check-input:focus {
    border-color: #ffa506;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(233, 162, 7, 0.25);
}

/* CSS */
.custom-switch-container {
    margin-left: auto; /* Menggeser elemen ke kanan */
}

.custom-switch-text {
    flex: 1; /* Membuat teks mengisi sebanyak mungkin ruang tersedia */
    margin-left: 20px;
    padding: 7px;
}

.info-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 15px;
}

.info-icons span {
    color: rgb(
        0,
        0,
        0
    ); /* Mengubah warna teks menjadi merah (ganti dengan warna teks yang Anda inginkan) */
    font-weight: bold;
}

.info-icons svg {
    margin-right: 5px;
}
/* notifikasi */

/* bahasa */
.bahasa {
    width: 400px; /* Sesuaikan dengan lebar yang Anda inginkan */
    height: 220px; /* Sesuaikan dengan tinggi yang Anda inginkan */
    background-color: #ffffff; /* Warna latar belakang sesuai keinginan Anda */
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2); /* Properti box-shadow */
    padding: 30px;
    margin-top: -20%;
}

.bahasa h3 {
    color: #ffa506;
}

label {
    display: flex;
}
.form-check-label {
    padding: 5px;
}

.form-check-input {
    --bs-form-check-bg: #e8e8e8;
    width: 1.2em;
    height: 1.2em;
}
/* bahasa */
