.addproduct {
    background-color: whitesmoke;
    height: 150vh; /* Untuk mengisi seluruh tinggi layar */
}

.addproduct h5 {
    margin-left: 21%;
    margin-top: 20px;
    font-size: 25px;
}

.add-button {
    margin-left: 67%;
    margin-top: -45px;
}

.add-button .buang-button {
    margin: 10px;
    padding: 7px 17px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    color: #a1acb9;
    background-color: #e6e6e6;
    border: none;
}

.add-button .simpan-draft-button {
    margin: 10px;
    padding: 7px 17px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #ffda56;
    border: none;
}

.add-button .publis-product {
    margin: 10px;
    padding: 7px 17px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #ffc701;
    border: none;
}

.add-button .buang-button:hover {
    color: red;
}

.addproduct-harga {
    display: flex;
}
