/* bahasa */
.change-password-page {
    margin-top: 100px;
}
.change-password-user {
    width: 500px; /* Sesuaikan dengan lebar yang Anda inginkan */
    height: 460px; /* Sesuaikan dengan tinggi yang Anda inginkan */
    background-color: #ffffff; /* Warna latar belakang sesuai keinginan Anda */
    box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.2); /* Properti box-shadow */
    padding: 60px;
    margin-top: 70px;
    border-radius: 8px;
}

.change-password-user h3 {
    text-align: center;
    margin-bottom: 20px;
}

.sandi-lama-user,
.sandi-baru-user,
.konfirmasi-sandi-baru-user {
    margin-bottom: 15px;
}

/* .change-password-user label {
  
} */

.input-with-icon-user {
    position: relative;
}

.form-input-sandi-lama-user,
.form-input-sandi-baru-user,
.form-input-konfirmasi-sandi-baru-user {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
}

.eye-icon-user {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Style ikon mata terbuka (eye) */
.eye-icon-user svg {
    width: 25px;
    height: 30px;
    fill: #000000;
    color: #000000;
}

/* Style ikon mata tertutup (eye closed) */
.eye-icon-user svg.closed {
    display: none;
}

.ubah-kata-sandi-button {
    background-color: #ffa506;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px auto; /* Menengahkan tombol dan memberikan margin atas dan bawah */
    display: block; /* Memastikan tombol menjadi elemen blok */
    margin-top: 40px;
    font-weight: bold;
}

.ubah-kata-sandi-button:hover {
    background-color: #915d02;
}



.popup-change-password-failed {
    background-color: rgb(235, 1, 1);
    border: none;
    font-weight: bold;
    
}

.popup-change-password-failed:hover {
    background-color: rgb(188, 0, 0);
    
}

.popup-change-password-succes {
    background-color: green;
    font-weight: bold;
    border: none;
}

.popup-change-password-succes:hover{
    background-color: rgb(0, 84, 0);
}