.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Auth-form {
    width: 380px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1); /* Menyesuaikan bayangan dengan ketebalan 10px */
}

.Auth-form img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px auto 0px auto; /* Mengatur margin atas 20px, bawah 30px, dan memusatkan gambar horizontal */
    max-height: 100px; /* Atur tinggi maksimum gambar */
    /* Properti lain sesuai kebutuhan */
}

.Auth-form-content {
    text-align: center;
}

.form-group {
    text-align: left;
}

.form-control {
    width: 100%; /* Ubah lebar input menjadi 100% dari container-nya */
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #030202;
    border-radius: 10px;
}

/* CSS untuk menambahkan ikon di sebelah kiri input */
.input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon input {
    padding-left: 30px; /* Mengatur padding kiri agar ikon tidak bertabrakan dengan teks */
}

.input-icon .icon {
    position: absolute;
    left: 8px; /* Atur jarak antara ikon dan tepi input */
    top: 58%; /* Menggeser ikon ke bawah */
    transform: translateY(-50%);
    color: #aaa; /* Warna ikon */
}

.login-submit {
    margin-top: 20px;
    text-align: center;
}

.alert {
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-radius: 4px;
}

/* Styling for the "Daftar" link */
.text-warning {
    color: #ffc107;
    text-decoration: none;
}

.text-warning:hover {
    text-decoration: underline;
}
