/* cart */

.navbar-cart .line-vertikal {
    border-left: 2px solid #000000;
    height: 40px;
    margin: 0 20px;
}

.navbar-cart .text-cart {
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}

.icon-box-cart {
    display: inline-block; /* Menggunakan inline-block untuk sejajarkan horizontal */
    font-size: 24px; /* Ukuran ikon */
    margin-right: 10px; /* Jarak antara ikon dan ikon berikutnya */
    background-color: #ffc701;
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

/* Mengatur warna dan ukuran ikon pengguna */
.icon-box-cart:last-child {
    color: #ffffff; /* Warna ikon kedua */
    font-size: 15px;
}

.cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.kerajang-saya {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    width: 85%;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10%;
}

.produk {
    margin-right: 200px;
    margin-left: 70px;
}

.harga-satuan {
    margin-left: 200px;
}

.aksi {
    margin-right: 100px;
}
.total-harga {
    margin-top: 0px;
}

.keranjang-saya-detail {
    display: flex;
    align-items: center;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    background-color: white;
    width: 85%;
    margin-top: 10%;
}

.keranjang-saya-detail img {
    max-width: 100px; /* Atur lebar maksimum gambar */
    margin-right: 20px; /* Jarak antara gambar dan teks */
}

.keranjang-saya-detail h2 {
    font-size: 28px; /* Ukuran font judul */
    font-weight: bold;
    color: #ffa506;
    margin: 0;
}

.harga-detail {
    font-size: 18px;
    color: #333;
    margin-left: 180px;
    color: #ffc701;
    font-weight: bold;
}

.kuintitas-detail {
    margin-left: 85px;
}
.total-detail {
    font-size: 18px;
    color: #ffc701;

    margin-left: 55px;
    font-weight: bold;
}

.hapus-detail {
    color: #ffc701; /* Warna merah untuk menunjukkan tindakan menghapus */
    cursor: pointer; /* Menunjukkan bahwa elemen dapat diklik */
    font-weight: bold;
    margin-left: 70px;
    /* Gaya tambahan sesuai kebutuhan */
    padding: 5px 10px; /* Atur padding tombol sesuai kebutuhan */
}

.hapus-detail:hover {
    padding: 5px 10px; /* Atur padding tombol sesuai kebutuhan */
    background-color: #ffb406;
    text-decoration: none;
    color: #ffffff; /* Atur warna teks sesuai kebutuhan */
    border-radius: 5px; /* Atur sudut border sesuai kebutuhan */
}

.detail-bayar-kembali {
    margin-top: 20px; /* Atur jarak dari atas sesuai kebutuhan */
    font-weight: bold;
    margin-right: 79%;
}

.detail-bayar-kembali a {
    padding: 5px 10px; /* Padding tombol, sesuaikan kebutuhan */
    border: 1px solid #000; /* Warna border, sesuaikan kebutuhan */
    text-decoration: none;
    color: #000; /* Warna teks, sesuaikan kebutuhan */
    border-radius: 5px; /* Sudut border, sesuaikan kebutuhan */
}

.detail-bayar-kembali a:hover {
    background-color: #000; /* Warna latar belakang saat dihover, sesuaikan kebutuhan */
    color: #fff; /* Warna teks saat dihover, sesuaikan kebutuhan */
}

.detail-bayar {
    font-weight: bold;
    margin-top: -20px;
    margin-left: 72%;
}

.detail-bayar p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-bayar a {
    padding: 5px 10px; /* Atur padding tombol sesuai kebutuhan */
    background-color: #ffa506;
    text-decoration: none;
    color: #ffffff; /* Atur warna teks sesuai kebutuhan */
    border-radius: 5px; /* Atur sudut border sesuai kebutuhan */
    margin-left: 10px;
}

.detail-bayar a:hover {
    background-color: #c96666; /* Atur warna latar belakang saat dihover sesuai kebutuhan */
    color: #fff; /* Atur warna teks saat dihover sesuai kebutuhan */
}

/* Hapus gaya default dari checkbox */
input[type='checkbox'] {
    display: none;
}

/* Gaya radio button */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

/* Tampilan bulatan di sekitar checkbox */
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 50%;
}

/* Checkbox terpilih */
.checkbox-container input:checked + .checkmark {
    background-color: #ffa506;
}

/* Tanda centang */
.checkbox-container .checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Styling centang pada radio button */
.checkbox-container input:checked + .checkmark:after {
    display: block;
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Styling saat checkbox dihover */
.checkbox-container:hover .checkmark {
    background-color: #ccc;
}
