.product {
    margin-top: 8%;
}

.product {
    text-align: center;
}

.product h1 {
    font-size: 2em; /* Sesuaikan ukuran font */
    margin: 20px 0; /* Atur margin di atas dan bawah agar terlihat lebih rapi */
}

.product p {
    font-size: 1.2em; /* Sesuaikan ukuran font */
    color: #555; /* Warna teks */
    margin-bottom: 30px; /* Atur margin di bawah */
}

.product-mySwiper {
    position: relative;
    top: -100px; /* Adjust the value as needed */
}

/* Styles for the container of each Swiper slide */
.product-swiper-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the product box within each Swiper slide */
.product-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    transition: box-shadow 0.3s ease-in-out; /* Adding transition for a smooth effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow on all sides */
    width: 55%;
    border-radius: 30px;
}

/* Styles for the product image within each product box */
.product-box img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Styles for the heading within each product box */
.product-box h5 {
    font-size: 18px;
    margin-bottom: 8px;
    text-align: left;
}

/* Styles for the paragraph within each product box */
.product-box p {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
    text-align: left;
}

.product-cart-icons {
    position: absolute;
    top: 85%;
    right: 27%; /* Sesuaikan nilai ini untuk mengontrol jarak dari pinggir kanan */

    transform: translateY(-50%);
    background-color: #ffa506;
    padding: 6px; /* Sesuaikan ukuran padding */
    color: white;
    border-radius: 50%; /* Menjadikan border-radius setengah dari lebar/tinggi untuk membuat bentuk lingkaran */
    font-size: 24px; /* Sesuaikan ukuran font */
    display: flex;
}
