.product {
    margin-top: 8%;
}

.product {
    text-align: center;
}

.product h1 {
    font-size: 2em; /* Sesuaikan ukuran font */
    margin: 20px 0; /* Atur margin di atas dan bawah agar terlihat lebih rapi */
}

.product p {
    font-size: 1.2em; /* Sesuaikan ukuran font */
    color: #555; /* Warna teks */
    margin-bottom: 30px; /* Atur margin di bawah */
}
