/* ForgoutPasswordEmail.css */
.forgot-password-form hr {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #000000; /* Warna dan gaya garis sesuaikan dengan kebutuhan Anda */
    width: 85%;
    margin-left: 40px;
}

.help-email {
    display: block;
    color: #000000;
    font-weight: bold;
    margin-top: -10px;
}
.help-email:hover {
    text-decoration: underline;
}
