.changepassword-page {
    padding: 25px;
}

.changepassword h3 {
    font-size: 25px;
    margin-top: 30px;
}

.sandi-lama {
    margin-bottom: 15px; /* Jarak bawah elemen dari elemen di atasnya */
}

.form-input-sandi-lama {
    width: 46%; /* Lebar elemen sesuai lebar parentnya */
    padding: 8px; /* Jarak antara isi input dan tepi elemen */
    box-sizing: border-box; /* Memastikan bahwa padding tidak menambah lebar elemen secara keseluruhan */
    border-radius: 5px;
}

/* Tambahan gaya, misalnya untuk label */
.sandi-lama label {
    display: block; /* Menampilkan label sebagai blok untuk memastikan label ada di atas input */
    margin-bottom: 5px; /* Jarak bawah label dari input */
}

.update-sandi {
    display: flex;
    margin-bottom: 15px;
}

.sandi-baru,
.konfirmasi-sandi-baru {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-input-sandi-baru {
    padding: 8px;
    box-sizing: border-box;
    width: 250%;
    border-radius: 5px;
}

.form-input-konfirmasi-sandi-baru {
    padding: 8px;
    box-sizing: border-box;
    width: 250%;
    border-radius: 5px;
}

.sandi-baru label,
.konfirmasi-sandi-baru label {
    margin-bottom: 5px;
}

.konfirmasi-sandi-baru {
    margin-left: 350px;
}

.input-with-icon {
    position: relative;
}

.eye-icon-sandi-lama {
    position: absolute;
    top: 45%;
    right: 55%; /* Sesuaikan nilai right sesuai keinginan Anda */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 25px;
}

.eye-icon {
    position: absolute;
    top: 45%;
    right: -143%; /* Sesuaikan nilai right sesuai keinginan Anda */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 25px;
}

.simpan-reset-changepassword {
    margin-top: 50px;
    margin-left: -10px;
}
