/* petunjuk */

.cara-pembayaran {
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan ke semua sisi */
    width: 600px;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

.text-indent {
    padding-left: 40px; /* Sesuaikan dengan seberapa besar indentasi yang Anda inginkan */
}

.chevron-icon {
    font-size: 50px; /* Ukuran ikon dalam piksel atau ukuran yang Anda inginkan */
}

.cara-pembayaran-bank {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.cara-pembayaran-bank p {
    margin-bottom: 0px;
}

.total-bayar-text {
    margin-right: 70px;
}

.right-align {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
}

.right-align .tempo {
    font-size: 10px;
    font-weight: normal;
}

.no-rekening {
    margin-left: 85px;
}

.no-rekening img {
    max-width: 70px;
    height: auto;
}
.no-rekening p {
    margin-bottom: 0px;
}

.custom-accordion {
    margin-top: 10px;
    width: 400px; /* Lebar kotak */
    margin-left: 85px;
}

.centered-container {
    display: flex;
    justify-content: center; /* Menyusun elemen secara horizontal ke tengah */
    align-items: center; /* Menyusun elemen secara vertikal ke tengah */
    background-color: transparent; /* Mengatur latar belakang warna abu-abu (contoh) */
    margin-top: 50px;
}

.link-box {
    padding: 10px 60px;
    background-color: #ffa506;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
/* CSS untuk elemen .petunjuk */
