/* Navbar pemesanan */

/* Logo */
.navbar-pesan img {
    width: 130px; /* Ukuran logo */
    height: auto; /* Memastikan aspek rasio tetap terjaga */
    margin-right: 20px;
}

/* Item check, info, line, number, selesai text */
.check-container,
.info-text,
.number-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.info-text,
.selesai-text {
    font-weight: bold;
}

.line {
    border-top: 2px solid #ff0000;
    width: 100px;
}

/* Adjust image sizes */
.check-container img,
.number-container img {
    width: 30px; /* Ukuran gambar */
    height: 30px; /* Ukuran gambar */
}

/* Gaya untuk Container 'pemesanan' */
.pemesanan {
    margin-top: 100px;
}

/* Gaya untuk Card */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.card-content {
    display: flex;
    align-items: center;
}

.card-content img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity {
    font-size: 0.9em;
}

.total-harga {
    margin-top: 20px;
}

.harga-container {
    display: flex;
    justify-content: space-between;
}

.harga-angka {
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-kembali button,
.button-bayar button {
    padding: 8px 20px;
}
