/* selesai */
.check-mark {
    border: 2px solid #ccc; /* Atur border dan warna sesuai preferensi Anda */
    padding: 20px; /* Tambahkan padding untuk menjaga jarak antara konten dan border */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    width: 550px; /* Lebar kotak */
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 130px;
}

.check-mark img {
    max-width: 70px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 50px;
}

.button-belanja {
    display: flex;
    justify-content: center; /* Menyusun elemen secara horizontal ke tengah */
    align-items: center; /* Menyusun elemen secara vertikal ke tengah */
    background-color: transparent; /* Mengatur latar belakang warna abu-abu (contoh) */
    margin-top: 100px;
}

.belaja-kembali {
    padding: 10px 60px;
    background-color: #ffa506;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

/* Style Selesai */

/* selesai */
