.forgot-password-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-password-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    height: 470px;
}

.logo-image {
    max-width: 50%; /* Sesuaikan dengan kebutuhan Anda */
    margin-bottom: 20px;
    margin-top: 20px;
}

.forgot-password-form h2 {
    font-size: 22px;
}

.inputan-forgout-password {
    width: 300px;
    margin-left: 80px;
    margin-top: 30px;
}

.input-with-input {
    position: relative;
}

.icon-forgout-password {
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    left: 41%;
    color: #707070; /* Warna ikon */
    font-size: 20px;
}

/* Menambahkan margin kiri pada ikon agar tidak tertutup selama pengisian input */
.icon-forgout-password + input {
    padding-left: 40px; /* Sesuaikan dengan kebutuhan Anda */
}

.forgot-password-container Button {
    margin-top: 25px;
    background-color: #ffc701;
    border: #ffc701;
    width: 150px;
    font-weight: bold;
}

.forgot-password-container Button:hover {
    background-color: #806402;
}

/* Gaya untuk link "Kembali Ke Halaman Masuk" */
.link-to-login {
    display: block;
    margin-top: 25px;
    color: #ffc701; /* Warna link biru, sesuaikan dengan kebutuhan Anda */
    text-decoration: underline;
}

.link-to-login:hover {
    color: #0116ff; /* Warna link biru, sesuaikan dengan kebutuhan Anda */
}
