.new-min-button {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: #ffc701;
    border: 2px solid #ffc701;
    border-radius: 4px 0 0 4px;
}

.new-plus-button {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: #ffc701;
    border: 2px solid #ffc701;
    border-radius: 0 4px 4px 0;
}

.new-counter-value {
    margin: 0 20px;
    font-weight: bold;
    color: #ffc701;
    font-size: 18px;
}

.new-line-up {
    height: 1.5px;
    width: 80px;
    background-color: #ffc701;
    margin: 0; /* Menghapus margin atas dan bawah */
    margin-bottom: -1.5px;
    margin-left: 30px;
}

.new-line-down {
    height: 1.5px;
    width: 80px;
    background-color: #ffc701;
    margin: 0; /* Menghapus margin atas dan bawah */
    margin-top: -2px;
    margin-left: 30px;
}
