.info-product {
    margin-top: -29%;
}

.no-border-radius-right {
    border-radius: 4px 0 0 4px !important; /* Menghilangkan border radius pada sisi kanan */
}

/* Tambahkan ini ke file CSS Anda */
.form-group {
    margin-bottom: 2px; /* Sesuaikan jarak bawah antara form-group */
}

/* Sesuaikan jarak antara label dan input */
.form-group label {
    margin-bottom: 5px; /* Sesuaikan jarak bawah antara label dan input */
    margin-left: 20px;
}

/* Sesuaikan jarak antara elemen formulir */
.form-group input,
.form-group textarea {
    margin-bottom: 2px; /* Sesuaikan jarak bawah antara input dan textarea */
}

textarea#productDescription {
    height: 197px; /* Tinggi awal textarea */
    resize: vertical; /* Izinkan resize hanya secara vertikal */
    overflow: auto; /* Tambahkan overflow untuk scrollbar jika kontennya terlalu banyak */
}

.empty-space {
    background-color: white;
    border: 1px solid #000000;
    height: 350px; /* Sesuaikan tinggi sesuai kebutuhan */
    width: 300px; /* Sesuaikan lebar sesuai kebutuhan */
    position: relative;
    top: 101%; /* Sesuaikan nilai persentase sesuai kebutuhan */
    left: 0; /* Sesuaikan nilai persentase sesuai kebutuhan */
    right: 0; /* Sesuaikan nilai persentase sesuai kebutuhan */
    bottom: 0; /* Sesuaikan nilai persentase sesuai kebutuhan */
}

.info-button-save {
    position: fixed;
    top: 82%; /* Sesuaikan dengan posisi atas yang diinginkan */
    right: 30%; /* Sesuaikan dengan posisi kanan yang diinginkan */
    z-index: 1000; /* Sesuaikan dengan nilai z-index yang diperlukan */
}

.info-button-save button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #ffa506;
    border: none;
}
