.change-password-email {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-password-form-email {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    height: auto;
}

.logo-image-email {
    max-width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.forgot-password-form-email h2 {
    font-size: 22px;
}

.forgot-password-form-email label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    text-align: left; /* Tetapkan text-align ke kiri untuk label */
    margin-left: 60px;
}

.forgot-password-form-email input {
    width: 75%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
}

.forgot-password-form-email button {
    background-color: #ffc701;
    border: #ffc701;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    color: #fff;
}

.forgot-password-form-email button:hover {
    background-color: #c29906;
}


.input-with-icon-change-password-email {
    position: relative;
    margin-bottom: 20px;
  }
  
  .password-input-change-password-email {
    position: relative;
  }
  
  .password-toggle-icon-change-password-email {
    position: absolute;
    top: 50%;
    right: 70px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
  }
  