/* bahasa */
.bahasa-saya {
    margin-top: 100px;
}
.bahasa {
    width: 400px; /* Sesuaikan dengan lebar yang Anda inginkan */
    height: 220px; /* Sesuaikan dengan tinggi yang Anda inginkan */
    background-color: #ffffff; /* Warna latar belakang sesuai keinginan Anda */
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2); /* Properti box-shadow */
    padding: 30px;
    margin-top: 70px;
}

.bahasa h3 {
    color: #ffa506;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin-top: 30px;
}

.form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-check label {
    margin-bottom: 0;
}

/* Gaya khusus untuk radio button */
.form-check input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ffa506;
    position: relative; /* Menentukan posisi untuk pseudo-element */
}

/* Gaya radio button yang dipilih */
.form-check input[type='radio']:checked {
    background-color: #ffa506;
}

/* Centang di dalam radio button saat dipilih */
.form-check input[type='radio']:checked::before {
    content: '';
    display: block;
    width: 10px; /* Ukuran centang */
    height: 10px; /* Ukuran centang */
    border-radius: 50%; /* Membuat centang berbentuk lingkaran */
    background: white; /* Warna centang */
    position: absolute; /* Menentukan posisi centang */
    top: 50%; /* Menempatkan centang di tengah secara vertikal */
    left: 50%; /* Menempatkan centang di tengah secara horizontal */
    transform: translate(
        -50%,
        -50%
    ); /* Mengatur agar centang berada di tengah */
}
