.infoproduct-add {
    width: 45%; /* lebar elemen */
    height: 500px; /* tinggi elemen */
    background-color: #ffffff; /* warna putih */
    box-shadow: 0 4px 4px 5px rgba(0, 0, 0, 0.1); /* efek bayangan dengan warna hitam transparan dan ketebalan 10px */
    /* tambahkan properti lain sesuai kebutuhan */
    margin-left: 20%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.infoproduct-add h3 {
    font-size: 25px;
}

.infoproduct-add label {
    display: block;
    margin-bottom: 5px;
}

/* CSS tambahan untuk gaya input nama produk */

.produk-input {
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

.sku-barcode {
    display: flex;
    margin-top: 10px;
}

.sku-barcode .barcode {
    margin-left: 25px;
}

.sku {
    border-radius: 5px;
    padding: 8px;
    width: 310px;
}
.barcode-input {
    border-radius: 5px;
    padding: 8px;
    width: 310px;
}
