.custom-min-button,
.custom-plus-button {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    height: 25px;
    padding: 0px 0 0 0; /* Sesuaikan nilai padding-top sesuai kebutuhan */
    width: 25px;
    align-items: center; /* Center items vertically within the container */
}

.custom-min-button:hover,
.custom-plus-button:hover {
    background-color: #000; /* Adjust color on hover as needed */
    color: #fff; /* Adjust color on hover as needed */
}


.custom-counter-value {
    margin: 0 8px;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.custom-line-up {
    height: 1.5px;
    width: 40px;
    background-color: black;
    margin: 0;
    margin-bottom: -1.5px;
    margin-left: 22px;
}

.custom-line-down {
    height: 1.5px;
    width: 40px;
    background-color: black;
    margin: 0;
    margin-top: -3.5px;
    margin-left: 22px;
    position: relative;
}
